arrow
binaryornot<0.5
certifi
chardet==6.0.0.post1
charset-normalizer
cookiecutter
flet-cli==0.1.0
flet-desktop==0.1.0
flet==0.1.0
httpx
idna
jinja2
markupsafe
msgpack
oauthlib
packaging
pillow
python-slugify
pyyaml
repath
repath
rich
six
urllib3
watchdog